html, body {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    margin: 0;
  }
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.map-container{
  height: 100vh;
}
.info-window{
  width: 250px;
  height: 400px;
  color: black;
  text-align: left;
  font-weight: bolder;
}
.info-window-address{
  font-weight: bold;
  margin: -10px 0 -10px 0;
}
.heading{
  color: white;
  background-color: black;
  padding: 5px;
  font-weight: bold;
  width: 650px;
}
.siren-heading-top{
  color: white;
  background-color: black;
  padding: 5px;
  font-weight: bold;
}
.siren-heading-bottom{
  color: white;
  background-color: black;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}
.dot-yellow {
  height: 15px;
  width: 15px;
  background-color: rgb(243, 223, 40);
  border-radius: 50%;
  display: inline-block;
}
.dot-red {
  height: 15px;
  width: 15px;
  background-color: rgb(245, 16, 16);
  border-radius: 50%;
  display: inline-block;
}
.dot-green {
  height: 15px;
  width: 15px;
  background-color: rgb(36, 224, 18);
  border-radius: 50%;
  display: inline-block;
}
.square-yellow {
  height: 15px;
  width: 15px;
  background-color: rgb(243, 223, 40);
  display: inline-block;
}
.square-red {
  height: 15px;
  width: 15px;
  background-color: rgb(245, 16, 16);
  display: inline-block;
}
.square-green {
  height: 15px;
  width: 15px;
  background-color: rgb(36, 224, 18);
  display: inline-block;
}
.flag-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -12px;
}
.flag-container p{
  width: 33.3%;
  height: 5px;
}
.infotime-voltage-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  /* height: 80px; */
}

.infotime-voltage-container p {
  width: 50%;
  margin: 0;
  height: 20px;
  padding-bottom: -120px;
}
.button-container{
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  float: right;
}
.button-container button{
  margin-left: 10px;
}
.save{
  background-color: #00A9D5;
}
.cancel{
  background-color: rgb(97, 96, 96);
}
.save, .cancel{
  width: 70px;
  height: 25px;
  border: none;
  color: white;
  font-weight: bold;
}
nav{
  height: 100%;
  width: max-content;
  background-color: black;
  position: absolute;
  z-index: 1 !important;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
nav a{
    text-decoration: none;
    color: white;
}
.logo-image{
  padding-top: 100px;
  width: 300px;
  height: 150px;
}
.devices-heading{
  width: 200px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 17px;
}
.devices-nav{
  display: flex;
  flex-direction: row;
  background-color: black;
  color: white;
}
.devices-nav button{
  float: left;
  color: white;
  background-color: rgb(151, 151, 151);
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  margin: 10px;
  border: none;
  height: 30px;
  font-weight: bold;
}
.devices-nav button:hover{
  background-color: #ddd;
  color: black;
}
.devices-nav-right{
  float: right;
  width: 220px;
}
.add-device{
  background-color: #00A9D5!important;
  float:right;
}
.devices-container{
  margin: 20px;
  height: 650px;
  overflow: scroll;
  border-top: 1px solid black;
  margin-top: 40px;
}

.devices-left-side-container{
  float: left;
  height: 750px;
  width: 170px;
  border-right: 1px solid black;
  margin-top: 10px;
  display: table;
}
.devices-left-side-container div{
  float: left;
  margin-left: 5px;
}
/* .devices-left-side-container p{
  float: right;
} */
.devices-left-side-container-heading-top{
  background-color: #00A9D5;
  color: white;
  font-weight: bold;
  margin-right: 25px;
  padding: 5px;
  text-align: center;
}
.devices-left-side-container-heading-bottom{
  background-color: rgb(151, 151, 151);
  color: white;
  font-weight: bold;
  margin-right: 25px;
  padding: 5px;
  text-align: center;
}
.number-circle-red {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 3px;

  background: #fff;
  border: 2px solid rgb(245, 16, 16);
  color: rgb(245, 16, 16);;
  text-align: center;

  font: 14px Arial, sans-serif;
  font-weight: 600;
}
.number-circle-yellow {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 3px;

  background: #fff;
  border: 2px solid rgb(243, 223, 40);
  color: rgb(243, 223, 40);
  text-align: center;

  font: 14px Arial, sans-serif;
  font-weight: 600;
}
.number-circle-grey {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 3px;

  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;

  font: 14px Arial, sans-serif;  
  font-weight: 600;
}
.devices-left-side-container-text-grey{
  margin: -38px 0px 0px 30px;
  width: fit-content;
  font-weight: 600;
  color: #666;

}
.devices-left-side-container-text-yellow{
  margin: -38px 0px 0px 30px;
  width: fit-content;
  font-weight: 600;
  color: rgb(243, 223, 40);
}
.devices-left-side-container-text-red{
  margin: -38px 0px 0px 30px;
  width: fit-content;
  font-weight: 600;
  color: rgb(245, 16, 16);
  padding-right: 5px;
}

.devices-content{
  height: fit-content;
  overflow: scroll;
  padding-left: 25px;
  margin-top: 10px;
}
.devices-flag-container{
  display: flex;
  flex-direction: row;
  margin-left: -5px;
}
.devices-flag-container p{
  margin-left: 5px;
}
.devices-data-container-heading{
  display: flex;
  flex-direction: row;
  width: 650px;
  border-bottom: 1px solid black;
}
.devices-data-container-heading p{
  width: 25%;
  font-weight: bold;
}
.devices-data-container{
  width: 650px;
}
.devices-data-container-content{
  display: flex;
  flex-direction: row;
  height: 50px;
  border-bottom: 1px solid black;
}
.devices-data-container-content p{
  width: 25%;
}
.link{
  font-size: 30px;
  margin: 10px;
  font-weight: bold;
}
.layout-navbar li{
  border-bottom: 1px solid white;
  width: 80%;
}
.layout-navbar .link:hover{
  color: #00A9D5;
}
.filter-device {
  display: grid;
  position: absolute;
  top: 40px;
  left: 250px;
  padding: 0!important;
  margin: 0!important;
}
